/*img {
  width: 800px;
  display: block;
  margin: auto;
  height: auto;
  -webkit-box-shadow: 2px 3px 32px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 3px 32px 6px rgba(0,0,0,0.15);
  box-shadow: 2px 3px 32px 6px rgba(0,0,0,0.15);
}*/

.img {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

.bg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}
.bg0 {
  /*background: url(../bgs/1.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
}
.bg1 {
  /*background: url(../bgs/2.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
}
.bg2 {
  /*background: url(../bgs/3.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
}
.bg3 {
  /*background: url(../bgs/4.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
}
.bg4 {
  /*background: url(../bgs/5.jpg) no-repeat center center fixed;*/
  /*background-size: cover;*/
}

html, body, #wrapper {
  background: #333;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.flash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 99;
  display: none;
}

#wrapper td {
   vertical-align: middle;
   text-align: center;
}
