img {
  width: 800px;
  display: block;
  margin: auto;
  height: auto;
  -webkit-box-shadow: 2px 3px 32px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 2px 3px 32px 6px rgba(0,0,0,0.15);
  box-shadow: 2px 3px 32px 6px rgba(0,0,0,0.15);
}

html, body, #wrapper {
  background: #333;
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
